body {
  font-family:Helvetica;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("./images/andthegaynightlife-600px2.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#FFF;
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}

.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
    font-size:75%;
    list-style:none;
    padding-left:20px;
    padding-right:5px;
}

.event {
    border-radius:5px;
    color:#10171c;  /* very dark (mostly black) blue */
    padding:5px;
    margin:5px 0;
}

.eat-a-apple {
    background-color:#ff0000;  /* bright red */
}
.fritters {
    background-color:#ffa500;  /* orange */
}
.giving-tue {
    background-color:#ff0000;  /* bright red */
}
.disabilities {
    background-color:#9ab3ff;  /* pale blue */
}
.wildlife-conservation {
    background-color:#98fb98;  /* very soft lime green */
}
.inter-volunteer {
    background-color:#a6f4ff;  /* pale cyan */
}
.cotton-candy {
    background-color:#ffc0cb;  /* very pale red (pink) */
}
.candle-lighting {
    background-color:#ffff00;  /* yellow */
}
.xmas-card {
    background-color:#d3d3d3;  /* light gray */
}
.me-walk {
    background-color:#00ff00;  /* dark green */
}
.cat-walk {
    background-color:#cd00cd;  /* strong magenta */
}
.dog-walk {
    background-color:#ccff9a;  /* pale green */
}
.xmas-eve {
    background-color:#ffd700;  /* gold */
}
.xmas-day {
    background-color:#00ff00;  /* lime green */
}
.school {
    background-color:#ba9ce8;  /* very soft violet */
}
.newyears-eve {
    background-color:#00eeee;  /* pure cyan */
}
.appointment {
    background-color:#ff7e6d;  /* very light red */
}
.birthday {
    background-color:#afffad;  /* pale lime green */
}
.holiday {
    background-color:#e8e193;  /* very soft yellow */
}
.first-winter {
    background-color:#e8e993;  /* very soft yellow */
}
.newyears-eve {
    background-color:#ff9a9a;  /* pale red (pink tone) */
}
